/* styles.css */

* {
	font-family: Arial;
}

.container-fluid {
	
	background-image: url("../img/background.png");
	height: 100vh;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

	.pink {
	background-color: rgb(231, 150, 240);